streamlit
pandas
numpy
xgboost>=2.1.0
shap
matplotlib
scikit-learn
langchain-core>=0.3,<0.4
langchain-openai
langchain-community
langchain-text-splitters
faiss-cpu
openai
python-dotenv
tiktoken

